@font-face {
      font-family: firstFont;
      src: url(../font/gilgan.otf);
}

header {
      display: flex;
      background-color: #472183;
      font-size: 18px;
      text-align: center;
      justify-content: center;
      color: #F1F6F5;
}


main {
      padding: 20px;
      font-family: firstFont;
}


img {
      display: block;
      margin: auto;
      width: 12%;
}

b {
      display: flex;
      justify-content: center;
      align-items: center;
}

input {
      padding: 6px;
      border: 1px solid #82C3EC;
      border-radius: 2px;
      outline: none;
}

label {
      display: block;
      margin-bottom: 8px;
      font-size: 16px;
      font-weight: bold;

}

button {
      padding: 8px 16px;
      border-radius: 2px;
      border: none;
      font-weight: bold;
      cursor: pointer;
      background-color: #82C3EC;
      color: black
}

button:hover {
      background-color: #472183;
      color: white
}

button:active {
      transform: translateY(1.5px)translateX(1.5px);
}

button:disabled {
      background-color: red;
      transform: none;
}

.luasInputSection {
      display: flex;
      flex-direction: column;
      margin-top: 26px;
}

.luasButtonSection {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: 8px;
      justify-content:space-evenly;
      }


  